# macOS-related files
.vscode/
.DS_Store


# Compiled Ren'Py files.
*.rpyc
*.rpyb
*.rpymc

# Ren'Py log files.
*.txt
*.json

# Created directories.
saves/
tmp/
cache/

# Game files
/game/images/
/game/character/
/game/audio/
/game/develop.rpy
/game/test.rpy
